/**
 * @license
 *
 * Font Family: Switzer
 * Designed by: Jérémie Hornus
 * URL: https://www.fontshare.com/fonts/switzer
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Switzer Thin
 * Switzer Thin Italic
 * Switzer Extralight
 * Switzer Extralight Italic
 * Switzer Light
 * Switzer Light Italic
 * Switzer Regular
 * Switzer Italic
 * Switzer Medium
 * Switzer Medium Italic
 * Switzer Semibold
 * Switzer Semibold Italic
 * Switzer Bold
 * Switzer Bold Italic
 * Switzer Extrabold
 * Switzer Extrabold Italic
 * Switzer Black
 * Switzer Black Italic
 *
*/


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Thin.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Thin.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-ThinItalic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Extralight.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Extralight.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-ExtralightItalic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-ExtralightItalic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Light.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Light.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-LightItalic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Regular.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Regular.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Italic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Italic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Medium.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Medium.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-MediumItalic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Semibold.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Semibold.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-SemiboldItalic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-SemiboldItalic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Bold.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Bold.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-BoldItalic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Extrabold.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Extrabold.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-ExtraboldItalic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-ExtraboldItalic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-Black.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-Black.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer/Switzer-BlackItalic.woff2') format('woff2'),
        url('/assets/fonts/Switzer/Switzer-BlackItalic.woff') format('woff'),
        url('/assets/fonts/Switzer/Switzer-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}
